.experience-detail {
  height: 400px;
  padding: 20px;
  margin: 20px;

  .role-title{
    font-size: 24px;
  }
  .role-period{
    font-size: 20px;
  }
  .role-description{
    font-size: 18px;
  }
}
