#home {
  background-color: #004d4d;
  color: white;
  min-height: 100vh;
}

.hero-area {
  padding-top: 30rem;

  @media (max-width: 768px) {
    padding-top: 14rem;
  }  
}

#socials {
  padding-right: 40px;
  text-align: right;
}
